.photo {
    height: 10em;
    background-color: #777777;
    padding: 10 10 10 10;
}

.name {
    padding: 10 10 10 10;
    align-items: center;
}

.curriculum {
    padding: 10 10 10 10;
}

img {
    width: 50%;
    height: 50%;
}