<ion-content>
  <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h4>Login</h4>
          </div>

          <form (ngSubmit)="doLogin()">
            <div padding>
              <ion-item>
                <ion-input type="text" name = "username" placeholder="Usuário" [(ngModel)]="username"></ion-input>
              </ion-item>
      
              <ion-item>
                <ion-input type="password" name = "password" placeholder="Senha" [(ngModel)]="password"></ion-input>
              </ion-item>
            </div>
      
            <div padding>
              <ion-button size="large" expand="block" type="submit">Entrar</ion-button>
            </div>
          </form>

          <div>
            <ion-label type="submit" text-center="" (click)="esqueceuSenha()">Esqueceu a senha?</ion-label>
          </div>

          <div >
              <ion-item>
                <ion-label text-wrap color=red color="danger">{{msgErro}}</ion-label>
              </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>